{% extends "timop/base.html" %}
{% block content %}

<div>
    <h2>Contact book</h2>
    {% if objects|length < 1 %}
    <h4>Your contact book is empty.</h4>
    {% else %}
    <table border="1" style="width: 900px">
        <thead>
        <tr>
            <th class="contact_name">contact_name</th>
            <th class="zone_name">zone_name</th>
            <th class="utc_offset">utc_offset</th>
            <th class="platform">platform</th>
            <th class="comment">comment</th>
            <th class="location">location</th>
            <th class="current time">current time</th>
         </tr>
        </thead>
        <tbody>
        {% for object in objects %}
        <tr>
            <td><h5><a class="article-title" href="{% url 'contact-detail' object.id %}"> {{ object.contact_name }} </a></h5></td>
            <td>{{ object.zone_name }}</td>
            <td>{{ object.utc_offset }}</td>
            <td>{{ object.platform }}</td>
            <td>{{ object.comment }}</td>
            <td>{{ object.location }}</td>
            <td>{{ object.contact_time }}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <br>
    <a class="nav-item nav-link" href="{% url 'contact-add' %}">Add contact</a>
    <br>
</div>

{% endblock content %}