{% extends "timop/base.html" %}
{% block content %}
<div>

    <h3>{{ object.contact_name }}</h3>
    <p>{{ object.location }}</p>
    <p>{{ object.zone_name }}</p>
    <p>{{ object.utc_offset }}</p>
    <p>{{ object.platform }}</p>
    <p>{{ object.comment }}</p>
    <p>{{ object.contact_time }}</p>
</div>

<div>
    <a class="nav-item nav-link" href="{% url 'contact-delete' object.id %}">Delete</a>
    <a class="nav-item nav-link" href="{% url 'contact-update' object.id %}">Update</a>
</div>
{% endblock content %}