{% extends "timop/base.html" %}
{% block content %}

<div class="media-body">
    <p class="border-bottom mb-4">
{% if user.is_authenticated%}
    {{ user.username }}, your local time zone: {{ user.profile.utc_offset }}GMT/UTC
{% else %}
    AnonymousUser, your local time zone: {{ local_offset }}GMT/UTC
{% endif%}
    </p>
</div>
<h2 class="article-metadata">Current time in a time zone</h2>
<table style="width: 900px">
      <tr>
          <td> Enter the name of time zone or utc-offset:</td>
          <td>
              {% if result0 %}
                    {{ result0 }}
                  {% endif %}
          </td>
      </tr>
      <tr>
          <td colspan=2>
              <form action="{% url 'timop-timop' %}" method="POST">{% csrf_token %}
                {{ form.current_time }}
                <button type="submit">Submit</button>
              </form>
          </td>
      </tr>
</table>

<h2 class="article-metadata">Calculate the time (your local time) that will come after a certain time period</h2>
<table style="width: 900px">
      <tr>
          <td> Enter time period in format "hh:mm" (e.g. 00:22) :</td>
          <td>
              {% if result1 %}
                    {{ result1 }}
                  {% endif %}
          </td>
      </tr>
      <tr>
          <td colspan=2>
              <form action="{% url 'timop-timop' %}" method="POST">{% csrf_token %}
                {{ form.calculate_time }}
                <button type="submit">Submit</button>
              </form>
          </td>
      </tr>
</table>

<br>
<h2 class="article-metadata">Convert time</h2>
<h3>Convert local time to some other time zone -> </h3>
<table style="width: 900px">
      <tr>
          <td> Enter time and the destination time zone(name or utc-offset)
          in format "00:00;+4" :</td>
          <td>
              {% if result2 %}
                    {{ result2 }}
                  {% endif %}
          </td>
      </tr>
      <tr>
          <td colspan=2>
              <form action="{% url 'timop-timop' %}" method="POST">{% csrf_token %}
                {{ form.convert_local_time }}<button type="submit">Submit</button></form>
          </td>
      </tr>
</table>

<h3>Convert other time zone time to local time <- </h3>
<table style="width: 900px">
      <tr>
          <td>
              Enter time and the original time zone (name or utc-offset)
              in format "00:00;+4" :
          </td>
          <td>
              {% if result3 %}
                    {{ result3 }}
                  {% endif %}
          </td>
      </tr>
      <tr>
          <td colspan=2>
              <form action="{% url 'timop-timop' %}" method="POST">{% csrf_token %}
                {{ form.convert_other_time }}
                <button type="submit">Submit</button>
              </form>
          </td>
      </tr>
</table>

{% endblock content %}