{% extends 'base.html' %}

{% block head %}
<h1>Time operations</h1><br>
{% endblock %}


{% block body %}
<div class="time">
    <h2>Current time in another time zone</h2>
    Enter the name of time zone or utc-offset:>
    <div class="time_data_1">
        <form action="/time_operations" method="POST">
            <input type="text" name="time_data_1" id="time_data_1">
            <input type="submit" value="Submit">
        </form>
    </div>
    <h2>Convert time</h2>
    convert local time to some other time zone<br>
    convert other time zone time to local time<br>
</div>

{% endblock %}